[
  {
    "bot_token": "YOUR_BOT_TOKEN_HERE",
    "channel_id": -1001234567890,
    "notification_channel_id": -1003422687545,
    "admin_ids": [123456789]
  },
  {
    "bot_token": "ANOTHER_BOT_TOKEN",
    "channel_id": -1009876543210,
    "notification_channel_id": -1003422687545,
    "admin_ids": [123456789, 987654321]
  }
]
